.buttonNormalContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    transform: translateX(-4px);

    padding: 13px;
}

.buttonNormalContainer:hover {
    background-color: var(--green02);
    width: 100%;
}

.iconPrincipal {
    color: var(--white); /* Cor do ícone, pode ser ajustada */
    margin-right: 10px;
    transform: scale(1.2);
}

.link {
    text-decoration: none;
    color: var(--white);
}