.InicialMenuComponent{
    display: flex;
    width: 100%;
    height: 70vh;
    position: relative;
    background-color: var(--green05);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerButton{
    display: flex;
    gap: 20px;
    position: absolute;
    top: -51px;
    right: 0;

}

.containerPrimaryButtons{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}