.main {
    display: flex;
}

.iconReturn {
    color: var(--white);
    scale: 1.5;
}

.link {
    background-color: var(--green03);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.bottonReturnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 95%;
    margin-top: 15px;
}

.containerButtonReturn {
    display: flex;
    justify-content: start;
    width: 100% ;
}