.divContainerInputs {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.mainContainerInputs {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
}